.left{float:left;}
.right{float:right;}

.name{color:#000000; font-size:11px; font-weight:bold; text-transform:uppercase;}
.name a{color:#000000;  font-size:11px; font-weight:bold; text-decoration:none; border:none;}
.name a:hover{text-decoration:underline;}


.pict_box{ margin-bottom:12px; border-bottom:solid 1px #dbdbdb; padding-bottom:8px; text-align:center;}

.text{}

.price{color:#111111; font-size:15px; line-height:21px; line-height:normal; font-weight:bold;}
.price strong{font-weight:bold;}

.price_box{overflow:hidden; margin-top:5px;}
.price_box .coll1{width:87px; float:left; background:url(../images/price_box_bg.gif) no-repeat right top;}
.price_box .coll2{width:auto; float:left;}
.price_box .coll2 .ind{padding:0 0 0 20px;}


.button{padding-top:0;}

.box_line{padding:0 0 0 0; overflow:hidden;}
.box_line .inner{line-height:1px; background:url(../images/line_x.gif) repeat-x 0px 11px; height:18px;}

.box_line2_spec{padding:0 0 0 0; overflow:hidden; display:none}
.box_line2_spec .inner{line-height:1px; background:url(../images/line.gif) repeat-x 0px 0; height:1px;}




.box_line2{padding:0 15px 0 24px; overflow:hidden; display:none;}
.box_line2 .inner{line-height:1px; background:url(../images/line.gif) repeat-x 0px 21px; height:36px;}

.box_line3{padding:0 27px 0 27px; overflow:hidden; display:none}
.box_line3 .inner{line-height:1px; background:url(../images/line.gif) repeat-x 0px 9px; height:26px;}


.box_line4{padding:0 12px 0 12px; overflow:hidden; display:none}
.box_line4 .inner{line-height:1px; background:url(../images/line.gif) repeat-x 0px 21px; height:36px;}

.box_line5{padding:0 0 0 0; overflow:hidden; display:none}
.box_line5 .inner{line-height:1px; background:url(../images/line.gif) repeat-x 0px 21px; height:36px;}



ol{list-style:decimal; list-style-position:inside;}
ol li{line-height:21px;}

#disp-order-sorter{width:80%;}


#column_center input, #column_center #sorter  select{margin:-2px 0px; position:relative;}

#advSearchDefault .back{float:none;}
#advSearchDefault .forward{float:none; padding-bottom:7px;}
#advSearchDefault fieldset{padding:4px;}
#advSearchDefault .floatLeft select{margin-bottom:5px;}
#advSearchDefault #inc-subcat{margin:5px 5px 5px 3px; vertical-align:middle;}
#advSearchDefault .floatLeft{padding:11px 11px 11px 7px;}
#advSearchDefault .floatingBox {padding:11px 11px 11px 7px;}


#featuredProducts {overflow:hidden; zoom:1;}


#popupSearchHelp{background:#FFFFFF; text-align:left;}

/*  ----------------------- MAIN STYLES -----------------------  */
#sorter form {display:inline;}


#navColumnOne {}
#navColumnTwo {}



.centerColumn {}
.centerColumn table {}


#indexDefault {border:none; padding:0;}

#indexDefault, #specialsListing, #newProductsDefault, #allProductsDefault, #loginDefault, #productGeneral, #shoppingCartDefault {margin:0;}
#productGeneral ul{margin-left:15px;}

input#login-email-address, input#login-password, input#company, input#firstname, input#lastname, input#suburb, input#street-address, input#city, input#state, select#country, input#telephone, input#fax, input#email-address, input#contactname {width:36%; margin:0 0 3px; vertical-align:middle;}
input#dob, input#postcode {width:70px; margin:0 0 3px; vertical-align:middle;}

input#password-new, input#password-confirm {width:36%; margin:0 0 3px; vertical-align:middle;}

textarea#enquiry {width:93%; margin:4px 0;}



/*  ----------------------- NAVIGATION -----------------------  */

#navCatTabs {color:#ffffff; font-weight:bold; margin-bottom:2px;}
#navCatTabs ul {margin:0 10px; padding:10px 0; list-style:none; line-height:18px;}
#navCatTabs ul li {display:inline; padding:0px 10px;}
#navCatTabs ul li a {LINKS_STYLE}


#navBreadCrumb {padding:10px 0px 0px 0px; color:#ffffff; font-weight:bold; margin-bottom:2px;}
#navBreadCrumb a {LINKS_STYLE}




/*  ----------------------- HEADINGS -----------------------  */

caption h2, #accountDefaultHeading, #accountHistoryDefaultHeading, #accountNotificationsHeading, #addressBookDefaultHeading, #advSearchDefaultHeading, #advSearchResultsDefaultHeading, #checkoutShippingHeading, #checkoutPaymentHeading, #checkoutConfirmDefaultHeading, #checkoutPayAddressDefaultHeading, #checkoutShipAddressDefaultHeading, #checkoutSuccessHeading, #conditionsHeading, #cookieUsageDefaultHeading, #createAcctDefaultHeading, #createAcctSuccessHeading,  #customerAuthDefaultHeading, #discountcouponInfoHeading, #maintenanceDefaultHeading, #downloadTimeOutHeading, #gvFaqDefaultHeading, #gvRedeemDefaultHeading, #gvSendDefaultHeadingDone, #indexDefaultHeading, #loginDefaultHeading, #logoffDefaultHeading, #pageNotFoundHeading, #pageTwoHeading, #pageThreeHeading, #pageFourHeading, #privacyDefaultHeading, #shippingInfoHeading, #cartDefaultHeading, #siteMapHeading, #sslCheckHeading, #timeoutDefaultHeading, #unsubDefaultHeading, #ezPagesHeading {padding:11px 10px 11px 0; color:#000000; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:normal; font-weight:bold; text-transform:uppercase;}

#addressBookProcessDefault h1 { color:#3D4142; text-decoration:none; font-family:Tahoma; font-size:18px; line-height:normal; font-weight:bold;}




h2 {font-size:12px; font-weight:bold; line-height:normal; color:#2b2b2b; padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif}
h3 {color:#000000; font-size:12px; font-weight:bold; line-height:normal; padding:3px 0px 5px;}
h3 a {color:#000000; font-size:12px; font-weight:bold; line-height:normal; padding:3px 0px 5px; text-decoration:none !important;}
h3 a:hover{text-decoration:underline !important;}
h4 {color:#000000; font-size:11px; font-weight:bold; line-height:normal; padding:3px 0px 5px;}





/*  ----------------------- PRODUCT LISTING -----------------------  */



/*  HEADINGS  */

h2.centerBoxHeading {padding:1px 10px 6px 18px; color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:normal; font-weight:bold; text-transform:uppercase; line-height:14px;}

#alsoPurchased h2.centerBoxHeading {padding:1px 10px 6px 18px; color:#000000; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:normal; font-weight:bold; text-transform:uppercase; line-height:14px;}

#indexCategoriesHeading, #productListHeading {padding:1px 10px 6px 18px; color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:normal; font-weight:bold; text-transform:uppercase; line-height:14px;}

#newProductsDefaultHeading, #allProductsDefaultHeading, #featuredDefaultHeading, #specialsListingHeading, #reviewsDefaultHeading {padding:1px 10px 6px 18px; color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:normal; font-weight:bold; text-transform:uppercase; line-height:14px;}
#newProductsDefaultHeading, #allProductsDefaultHeading, #featuredDefaultHeading, #specialsListingHeading, #reviewsDefaultHeading a{padding:1px 10px 6px 18px; color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:normal; font-weight:bold; text-transform:uppercase; line-height:14px;}



#specialsListingHeading {}

/*  --------  */



/*  LISTINGS  */

#newProductsDefault, #allProductsDefault, #featuredDefault, #specialsListing, #reviewsDefault {}

#newProductsDefault .line, #allProductsDefault .line, #featuredDefault .line {padding:0; line-height:0px; font-size:0px; background:url(../images/line_1.gif) top left repeat-x; height:7px;}

#newProductsDefault td, #allProductsDefault td, #featuredDefault td {border:none; font-size:11px; line-height:14px; color:#707070}

#newProductsDefault a.link, #allProductsDefault a.link, #featuredDefault a.link, #allProductsDefault a.link {color:#e87005; font-size:10px;  font-weight:normal; text-transform:lowercase;}
#newProductsDefault a.link:hover, #allProductsDefault a.link:hover, #featuredDefault a.link:hover {text-decoration:none;}

/*  --------  */

/*  REVIEWS  */

#reviewsDefault hr {border-top:1px solid #666666; margin:0 0px;}
#reviewsDefault .smallProductImage {padding:0px 10px 10px 10px;}
#reviewsInfoDefaultHeading, #productReviewsDefaultHeading, #reviewsWriteHeading {padding:1px 10px 6px 18px; color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:normal; font-weight:bold; text-transform:uppercase; line-height:14px;}
#reviewsDefault .rating, .bold {padding:5px 0px;}

#reviewsInfoDefaultPrice, #reviewsWritePrice, h2#productReviewsDefaultPrice {color:#e87005; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; font-weight:bold;}


#review-text{margin-top:15px;}


/*  -------  */


/*  CATEGORY  */

#indexCategories {}

#categoryImgListing {padding:0; float:left; margin-right:15px;}


#indexProductListCatDescription, #categoryDescription { display:block; overflow:hidden; color:#707070; font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px; padding-bottom:15px;}


.categoryListBoxContents {padding:5px 0px;}
.categoryListBoxContents img {margin-bottom:0;}
.categoryListBoxContents a {color:#2b2b2b; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; text-decoration:underline; text-transform:capitalize; line-height:16px;}
.categoryListBoxContents a:hover{text-decoration:none;}


/*  --------  */


/*  CATEGORY LISTING  */

.tabTable {margin:0px 0px 0 0px;}
.tabTable th {padding:0 1px 1px 1px; text-align:left;background:url(../images/productListing-heading_bg_thx.gif) repeat-x left top;}
.tabTable th { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#707070; line-height:bold; font-weight:bold; text-transform:uppercase;}
.tabTable th a {color:#707070; text-decoration:none;}
.tabTable th a:hover{text-decoration:underline;}

.productListing-rowheading {}
.productListing-heading a {text-decoration:none !important;}
.productListing-heading a:hover {text-decoration:underline !important;}

.tabTable td {}
.tabTable td {font-size:18px; font-family:tahoma; color:#000000; font-weight:bold;}
h3.itemTitle{text-align:left;}
.tabTable td .listingDescription {padding:1px 5px 5px 0;  font-size:10px; line-height:14px; color:#707070; text-align:left; font-weight:normal;}
.tabTable td a {text-decoration:underline;}
.tabTable td a:hover {text-decoration:none;}

.productListing-data a{color:#e87005; font-size:11px;  font-weight:normal;}
.productListing-data{color:#e87005 !important; font-size:12px !important; line-height:24px !important; font-weight:bold !important; text-align:center; padding-top:0px; font-family:Arial, Helvetica, sans-serif !important;}

.productListing-data .productSpecialPrice{font-size:12px; color:#e87005;}


.productListing-data img{margin-right:0;}

.productListing-data h3{color:#0c579d; font-size:12px; font-weight:bold; margin-bottom:6px; padding-top:0; text-transform:capitalize}
.productListing-data h3 a{color:#2b2b2b; font-size:12px; font-weight:bold; text-transform:capitalize; text-decoration:none; font-family:Arial, Helvetica, sans-serif}
.productListing-data h3 a:hover{text-decoration:underline !important;}





/*  ----------------  */



/*  TABLES  */

#prevOrders {margin:0px 0px 5px 0px; border-left:1px solid #dbdbdb;}
#prevOrders th {padding:5px 10px; border-top:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; text-align:center;}
#prevOrders th {font-size:11px; color:#000000; line-height:normal; font-weight:bold; text-transform:uppercase;}
#prevOrders th a {color:#000000;}

#prevOrders td {border-right:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; padding:5px;}
#prevOrders td {font-family:tahoma; font-size:11px; line-height:normal; color:#000000;}
#prevOrders td a {LINKS_STYLE}


#accountHistInfo table {margin:0px 0px 5px 0px; border-left:1px solid #104d63;}
#accountHistInfo th {padding:5px 10px; border-top:1px solid #104d63; border-right:1px solid #104d63; border-bottom:1px solid #104d63; text-align:center;}
#accountHistInfo th {font-size:12px; color:#104d63; line-height:normal; font-weight:bold; text-transform:uppercase;}
#accountHistInfo th a {color:#1AA8F3;}

#accountHistInfo td {border-right:1px solid #104d63; border-bottom:1px solid #104d63; padding:5px;}
#accountHistInfo td {font-family:tahoma; font-size:11px; line-height:normal; color:#104d63;}
#accountHistInfo td a {LINKS_STYLE}

/*  ----------------  */


/*  ----------------------- PRODUCT INFO -----------------------  */

.categoryIcon {padding:0 15px 0 0;}
.categoryIcon a {color:#13140d; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; text-decoration:none;}

.navNextPrevWrapper {margin:10px; padding:10px 10px; text-align:center;}

#productMainImage, #productReviewsDefaultProductImage, #reviewWriteMainImage {
	margin:1px 25px 10px 0;  
}
#productMainImage a, #reviewsInfoDefaultProductImage a, #productReviewsDefaultProductImage a, #reviewWriteMainImage a {color:#000000; font-family:Tahoma; font-size:10px;text-decoration:none;}

#productName {padding:1px 10px 6px 18px; color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:normal; font-weight:bold; text-transform:uppercase; line-height:14px;}
#productPrices {font-size:12px; color:#2b2b2b; font-weight:bold; text-transform:uppercase}
#productDescription {margin:0px 1px; padding:0;  font-weight:normal; color:#707070; font-size:10px; line-height:14px;}

#cartAdd {float:left; text-align:left; margin:5px;}


#alsoPurchased {margin-top:10px;}
#alsoPurchased a {text-decoration:none; text-decoration:none; font-size:10px; color:#000000; line-height:normal; font-weight:bold; text-transform:none;}
#alsoPurchased a:hover{text-decoration:underline;}





#productAdditionalImages {margin:2px; border:1px solid #000000; padding:7px; overflow:hidden;zoom:1;}
#productAdditionalImages .additionalImages {text-align:center;}
#productAdditionalImages .additionalImages a {text-decoration:none; font-size:10px; color:#000000; line-height:normal; font-weight:bold; text-transform:capitalize;}
#productAdditionalImages .additionalImages a:hover{text-decoration:none; color:#0000FF}

#productAdditionalImages .img_box{padding:0; margin:15px;}



/*  ----------------------- SHOPPING CART -----------------------  */

#cartInstructionsDisplay {padding:10px;}

#cartEmptyText {font-size:11px; color:#000000; padding:20px 0 10px; text-transform:uppercase}

#cartContentsDisplay {border-left:1px solid #000000;}
#cartContentsDisplay th {border:1px solid #000000; border-left:none; padding:5px; text-align:center;}
#cartContentsDisplay th {font-size:14px; color:#111111; line-height:normal; font-weight:bold; text-transform:uppercase;}
#cartContentsDisplay th a {color:#1AA8F3;}
#cartContentsDisplay td {border-right:1px solid #000000; border-bottom:1px solid #000000; padding:5px; text-align:center;}
#cartContentsDisplay td .cartAttribsList {text-align:left;}
#cartContentsDisplay td {font-family:tahoma; font-size:11px; line-height:normal; color:#000000;}
#cartContentsDisplay td.cartTotalDisplay {color:#000000; font-size:15px; font-weight:bold;}
#cartContentsDisplay td #cartImage {float:none; display:block;}
#cartContentsDisplay td a {color:#2b2b2b; font-size:12px; font-weight:bold; text-decoration:none;}
#cartContentsDisplay td a:hover{text-decoration:underline;}
#cartSubTotal {text-align:right; font-weight:bold; width:100%; padding:10px 0; text-transform:uppercase; font-size:13px;}
#cartSubTotal strong {color:#000000; font-size:15px; font-weight:bold;}


#shoppingCartDefault .buttonRow {margin:5px;}

#shoppingCartDefault .text_v_c {padding:15px; text-align:right; font-family:tahoma; font-size:11px; line-height:normal; color:#000000;}
#shoppingCartDefault .text_v_c a {text-decoration:underline; font-size:12px; color:#000000; line-height:normal; font-weight:bold;}


.advisory {margin:10px;}




#infoShoppingCart {background:#ffffff; text-align:left;}
#infoShoppingCart div {padding:20px;}
#infoShoppingCart h1 {padding:15px 20px 19px 1px; color:#000000; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:normal; font-weight:bold;}
h1#acctNewslettersDefaultHeading {padding:15px 20px 19px 1px; color:#000000; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:normal; font-weight:bold; text-transform:uppercase}

#popupSearchHelp div {padding:20px;}

#popupCVVHelp {background:#FFFFFF;}
#popupCVVHelp div {padding:10px 20px;}
#popupCVVHelp h1 {padding:15px 20px 19px 41px; margin:0 -15px 25px; background:#FFFFFF url(../images/heading_icon.gif) 17px 21px no-repeat; color:#3D4142; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:normal; font-weight:bold;}



.hiddenField {display:none;}



#popupShippingEstimator {background:#ffffff; text-align:left;}
#popupShippingEstimator div {padding:15px;}

#shippingEstimatorContent label{display:block; padding-bottom:2px;}

#shippingEstimatorContent h2 {padding:3px 10px 12px 14px; color:#201f23; text-decoration:none; font-size:12px; line-height:normal; font-weight:bold; text-transform:uppercase;}

#shippingEstimatorContent select#country, #shippingEstimatorContent select#stateZone {width:160px; margin:0 0 3px;}
#shippingEstimatorContent input#state {width:156px; margin:0 0 3px 131px;}
#shippingEstimatorContent label#stateLabel {display:none;}

#shippingEstimatorContent td.cartTotalDisplay {font-size:15px; font-family:tahoma; color:#201f23; font-weight:bold;}

#shippingEstimatorContent table {margin:0px 0px 5px 0px; border-left:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; border-collapse:collapse;}
#shippingEstimatorContent th {padding:5px 10px; border-top:1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;}
#shippingEstimatorContent th { color:#201f23;}
#shippingEstimatorContent th a {color:#201f23;}

#shippingEstimatorContent td {border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb; padding:5px;}
#shippingEstimatorContent td {font-family:tahoma; font-size:11px; line-height:normal; color:#201f23;}



#upcomingProductsTable{ color:#201f23; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#upcomingProductsTable a{ color:#201f23; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-decoration:underline;}
#upcomingProductsTable a:hover{text-decoration:none;}



.background-top{padding:0 10px 0 10px;}





